<div class="modal-header">
	<button type="button" class="close" ng-click="modalSignInCtrl.close()">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="section-title">
		<h2>Inciar Sesión</h2>
	</div>
</div>

<div class="modal-body">
	<form class="form inputs-underline" name="modalSignInCtrl.form" autocomplete="off">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" ng-model="modalSignInCtrl.credenciales.email" id="email" placeholder="Email" required>
		</div>
		<div class="form-group">
			<label for="password">Contraseña</label>
			<input type="password" class="form-control" ng-model="modalSignInCtrl.credenciales.password" id="password" placeholder="Contraseña" required>
		</div>
		<div class="form-group center">
			<button type="submit" class="btn btn-primary width-100" ng-disabled="!modalSignInCtrl.form.$valid" ng-click="modalSignInCtrl.signIn()">Entrar</button>
		</div>
		<div class="form-group center">
			<button type="button" class="btn btn-primary width-100" ng-click="modalSignInCtrl.signInFacebook()">Iniciar con Facebook</button>
		</div>
	</form>
	
	<hr>
	
<a href="javascript:" class="text-center" ng-click="modalSignInCtrl.resetPassModal()">
		<p>Olvide mi contraseña.</p>
	</a>
</div>
<!--end modal-body-->
