<div class="modal-item-detail modal-dialog" role="document" data-latitude="" data-longitude="" data-address="New York State Pavilion, Corona, NY 11368, USA">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="section-title">
        <h2>Stand Up Show</h2>
        <div class="label label-default">Event</div>
        <div class="rating-passive" data-rating="4">
          <span class="stars"></span>
          <span class="reviews">8</span>
        </div>
        <div class="controls-more">
          <ul>
            <li><a href="#">Add to favorites</a></li>
            <li><a href="#">Add to watchlist</a></li>
          </ul>
        </div>
	      <!--end controls-more-->
      </div>
	    <!--end section-title-->
    </div>
	  <!--end modal-header-->
    <div class="modal-body">
      <div class="left">
        <div class="gallery owl-carousel" data-owl-nav="1" data-owl-dots="0"><img src="images/items/6.jpg" alt=""><img src="images/items/12.jpg" alt=""><img src="images/items/5.jpg" alt=""></div>
	      <!--end gallery-->
        <div class="map" id="map-modal"></div>
	      <!--end map-->
        <section>
          <h3>Contact</h3>
          <h5><i class="fa fa-map-marker"></i>534 Sycamore Road</h5>
        </section>
        <section>
          <h3>Social Share</h3>
          <div class="social-share"></div>
        </section>
      </div>
	    <!--end left -->
      <div class="right">
        <section>
          <h3>About</h3>
          <div class="read-more">
            <p>Phasellus at facilisis est. Sed dignissim porttitor aliquam. Quisque fermentum mollis diam id porttitor. Maecenas pulvinar, lacus non egestas finibus, nibh lectus ornare massa, id lacinia est nunc quis ante. Cras non nisl enim. Sed sodales volutpat nisl. Phasellus dictum lacus eu volutpat venenatis. Ut commodo massa ac sagittis finibus. </p>
          </div>
        </section>
	      <!--end about-->
        <section>
          <h3>Features</h3>
          <ul class="tags">
            <li>Wi-Fi</li>
            <li>Parking</li>
            <li>TV</li>
            <li>Vegetarian</li>
          </ul>
        </section>
	      <!--end tags-->
        <section>
          <h3>Schedule</h3>
          <ul class="list-unstyled list-schedule">
            <li>
              <div class="left">
                <strong class="promoted">24.03.2017</strong>
                <figure>16:00</figure>
              </div>
              <div class="right">
                <strong>Town Square</strong>
                <figure>458 Brigth Street London</figure>
              </div>
            </li>
          </ul>
	        <!--end list-schedule-->
          <ul class="list-unstyled list-schedule">
            <li>
              <div class="left">
                <strong class="promoted">03.04.2017</strong>
                <figure>18:00</figure>
              </div>
              <div class="right">
                <strong>Bristol Gallery</strong>
                <figure>87 Yellow Lane, Manhattan</figure>
              </div>
            </li>
          </ul>
	        <!--end list-schedule-->
        </section>
	      <!--end schedule-->
      </div>
	    <!--end right-->
    </div>
	  <!--end modal-body-->
  </div>
	<!--end modal-content-->
</div>
<!--end modal-dialog-->