<nav>
		<div class="left">
			<a ui-sref="welcome" class="brand">
				<img src="images/logo.png" alt="">
			</a>
		</div>
	
		<div class="right">
			<div class="primary-nav has-mega-menu">
				<ul class="navigation">
					<li class="has-child" ng-show="$isAuthenticated">
						<a href="#user" target="_self">{{$usuario.displayName}}</a>
						<div class="wrapper">
							<div id="user" class="nav-wrapper">
								<ul>
									<li><a ui-sref="edit-profile">Mi Perfil</a></li>
									<li><a href="javascript:" ng-click="headCtrl.menuUsuario.miPerfil()">Mensajes</a></li>
									<li><a href="javascript:" ng-click="headCtrl.menuUsuario.salir()">Salir</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="secondary-nav">
				<a href="javascript:" ng-hide="$isAuthenticated" ng-click="headCtrl.signInModal()">
					Inciar Sesión
				</a>
				
				<a href="javascript:" ng-hide="$isAuthenticated" class="promoted" ng-click="headCtrl.registroModal()">
					Crear Cuenta
				</a>
				
				<a ui-sref="map">
					Mapa
				</a>
				
				<a href="javascript:">
					Contact
				</a>
			</div>
			<!--end secondary-nav-->
			<div class="nav-btn">
				<i></i>
				<i></i>
				<i></i>
			</div>
			<!--end nav-btn-->
		</div>
	<!--end right-->
	</nav>
<!--end nav-->